* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@media (max-width: 786px) {
    .container-btn-girar{
        justify-content: center !important;
    }
    .roleta-exercicios{
        height: 450px !important;
        width: 450px !important;
    }
}

body{
    background-color: black;
}

div.pai-roleta{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
div.container-roleta{
    position: relative;
}
.ponteiro{
    position: absolute;
    top: -20px;
    left: 50%;
    transform: translateX(-50%);
    width: 0;
    height: 0;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-top: 25px solid rgb(255, 255, 255);
}

div.roleta-exercicios{
    height: 500px;
    width: 500px;
    border-radius: 50%;
        background: conic-gradient(
        red 0deg 90deg,
        blue 90deg 180deg,
        green 180deg 270deg,
        yellow 270deg 360deg
    ); 
    transition: transform 4s ease-out;
}
.container-btn-girar{
    display: flex;
    justify-content: start;
}
.btn-girar{
    margin-top: 10px;
    padding: 12px 24px;
    font-size: 16px;
    cursor: pointer;
    border: none;
    border-radius: 6px;
}